Source: xdffileio
Section: libs
Priority: extra
Maintainer: Nicolas Bourdaud <nicolas.bourdaud@epfl.ch>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://cnbisrv02.epfl.ch

Package: libxdffileio0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Homepage: http://cnbisrv02.epfl.ch
Description: Library to read/write EEG data file formats
 This library provides a unified interface to read/write EEG file format
 in realtime. It has been designed to provide a consistent and common
 interface to all supported file formats while minimizing the CPU cost on
 the main loop.
 
Package: libxdffileio0-dev
Provides: libxdffileio-dev
Conflicts: libxdffileio-dev
Section: libdevel
Architecture: any
Depends: libxdffileio0 (= ${binary:Version}), ${misc:Depends}
Homepage: http://cnbisrv02.epfl.ch
Description: Library to read/write EEG data file formats (development files)
 This library provides a unified interface to read/write EEG file format
 in realtime. It has been designed to provide a consistent and common
 interface to all supported file formats while minimizing the CPU cost on
 the main loop.
 .
 This package contains the files needed to compile and link programs which
 use xdffileio.
